<%= form_with model: @airport, local: true do |form| %>
  <div class="d-flex justify-content-between form-group">
    <% Airport::LANDING_RIGHTS_TYPES.each_with_index do |(key, configuration), index| %>
      <div class="landing-rights-box text-center btn btn-sm d-flex flex-column justify-content-center align-items-center
        <%= @airport.landing_rights == key ? 'btn-primary' : 'btn-outline-primary' %> <%= index.zero? ? '' : 'ml-2' %>"
        data-landing-rights-type="<%= key %>">
        <div class="icon">
          <i class="fas fa-<%= configuration[:icon] %>"></i>
        </div>

        <div class="label">
          <%= configuration[:short_description] %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <% Airport::LANDING_RIGHTS_TYPES.each do |key, configuration| %>
      <%= form.label :landing_requirements, configuration[:long_requirements_label], data: {landing_rights_type: key}, class: (@airport.landing_rights == key ? '' : 'd-none') %>
    <% end %>

    <%= form.hidden_field :landing_rights %>
    <%= form.text_area :landing_requirements, class: 'form-control' %>
  </div>

  <div class="text-center">
    <%= form.submit 'Update Airport Access', class: 'btn btn-primary' %>
  </div>
<% end %>
