<% tag_configuration = Tag::TAGS[(defined?(tag_record) ? tag_record.name : tag_name)] %>

<div class="tag-square card p-0 me-1 mb-1 theme-<%= tag_configuration[:theme] %>
  <%= defined?(editing) ? 'editing unselected' : '' %>
  <%= defined?(size) ? size : '' %>"
  data-tag-id="<%= defined?(tag_record) ? tag_record.id : '' %>">

  <div class="card-body h-100 p-0 d-flex flex-column justify-content-center align-items-center">
    <% if defined?(tag_record) && tag_configuration[:addable] %>
      <%= link_to '<i class="fas fa-times"></i>'.html_safe, tag_record, method: :delete, remote: true, class: :delete %>
    <% end %>

    <div class="icon">
      <%= filter_icon(tag_configuration[:icon]) %>
    </div>

    <div class="label text-center w-100">
      <%= tag_configuration[:label] %>
    </div>
  </div>
</div>
