<%
  tag_name = (defined?(tag_record) ? tag_record.name : tag_name)
  tag_configuration = Tag::TAGS[tag_name]
%>

<%# Provide an option to make the tag into a link if clicked %>
<% if defined?(hyperlink) && hyperlink.present? %>
  <a href="<%= hyperlink %>" class="text-decoration-none">
<% end %>

<div class="tag-square card p-0 theme-<%= tag_configuration[:theme] %>
  <%= defined?(editing) ? 'editing unselected' : '' %>
  <%= defined?(size) ? size : '' %>"
  <%= tag_configuration[:scroll_target] && defined?(scroll_on_click) && scroll_on_click.present? ? "data-scroll-target=\"#{tag_configuration[:scroll_target]}\"".html_safe : '' %>
  data-tag-id="<%= defined?(tag_record) ? tag_record.id : '' %>"
  data-tag-name="<%= tag_name %>">

  <div class="card-body h-100 p-0 d-flex flex-column justify-content-center align-items-center">
    <% if defined?(tag_record) && tag_configuration[:addable] %>
      <%= link_to '<i class="fas fa-times"></i>'.html_safe, tag_record, method: :delete, remote: true, class: :delete %>
    <% end %>

    <div class="icon">
      <%= filter_icon(tag_configuration[:icon]) %>
    </div>

    <div class="label text-center w-100">
      <%= tag_configuration[:label] %>
    </div>
  </div>
</div>

<% if defined?(hyperlink) && hyperlink.present? %>
  </a>
<% end %>
