<%
  @title = @user.name.presence
  @breadcrumbs = [['Users'], [public_user_label(@user)]]
%>

<div class="row">
  <div class="col-12">
    <h1 class="display-6"><%= public_user_label(@user) %></h1>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-4 mb-3">
    <div class="text-center mb-3">
      <%= image_tag gravatar_url(@user.email, size: 300), class: 'img-thumbnail' %>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <strong>Username:</strong>
        <% if @user.name.present? %>
          <%= @user.name.presence %>
        <% else %>
          <span class="text-body-secondary"><%= t(:anonymous_label) %></span>
        <% end %>
      </li>

      <li class="list-group-item">
        <strong>Last seen:</strong> <%= @user.last_seen_at ? "#{time_ago_in_words(@user.last_seen_at).capitalize} ago" : 'Never' %>
        <br><small class="text-body-secondary"><%= format_timestamp(@user.last_seen_at) %></small>
      </li>

      <li class="list-group-item">
        <strong>Last edit:</strong> <%= @user.last_edit_at ? "#{time_ago_in_words(@user.last_edit_at).capitalize} ago" : 'None' %>
        <br><small class="text-body-secondary"><%= format_timestamp(@user.last_edit_at) %></small>
      </li>
    </ul>
  </div>

  <div class="col-12 col-md-8">
    <%= render 'shared/users/statistics', user: @user %>
    <%= render 'shared/users/activity_timeline', user: @user, all_activity_path: users_activity_user_path(@user) %>
  </div>
</div>
