<% @title = 'Confirm Email Address' %>

<%= render 'devise/shared/header', text: 'Confirm Account' %>
<%= render 'devise/shared/flashes' %>

<%= form_with(model: resource, scope: :user, url: new_user_confirmation_path) do |form| %>
  <%= render 'shared/record_errors', record: form.object %>

  <div class="mb-3">
    <%= form.label :email, class: 'form-label' %>
    <%= form.email_field :email, autofocus: true, autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
  </div>

  <div class="mb-3 text-center">
    <%= form.submit 'Send confirmation instructions', class: 'btn btn-primary' %>
  </div>

  <div class="text-center">
    <%= render 'devise/shared/links' %>
  </div>
<% end %>
