<%= form_with(model: (defined?(resource) && resource ? resource : Users::User.new), scope: :user, url: registration_path('user'), html: {id: 'registration-form'}, local: !(defined?(parent) && parent == :map)) do |form| %>
  <%= render 'shared/record_errors', record: form.object %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label mb-0', value: 'Username' %>
    <p class="form-text mb-2"><%= t(:name_description) %></p>
    <%= form.text_field :name, autofocus: true, id: 'registration-name', class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: 'form-label mb-0' %>
    <p class="form-text mb-2"><%= t(:email_description) %></p>
    <%= form.email_field :email, autofocus: true, autocomplete: 'email', id: 'registration-email', class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: 'form-label mb-0' %>
    <p class="form-text mb-2"><%= t(:password_description, minimum_password_length: @minimum_password_length) %></p>
    <%= form.password_field :password, autocomplete: 'new-password', id: 'registration-password', class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation, class: 'form-label' %>
    <%= form.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= render 'shared/turnstile' %>
  </div>

  <div class="text-center mb-3">
    <%= form.submit 'Sign up', class: 'btn btn-primary' %>
  </div>

  <div class="text-center">
    <%= render 'devise/shared/links', parent: (defined?(parent) ? parent : nil) %>
  </div>
<% end %>
