<%
  @title = 'Edit Account'
  @breadcrumbs = [['Users', manage_users_path], [@user.email, user_path], ['Edit']]
%>

<h1 class="display-6">Edit Account</h1>

<div class="row">
  <div class="col-12 col-md-8">
    <%= form_with(model: resource, scope: :user, url: user_registration_path, html: {method: :put}) do |form| %>
      <%= render 'shared/record_errors', record: form.object %>

      <div class="mb-3">
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :email, class: 'form-label' %>
        <%= form.email_field :email, autocomplete: 'email', class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :timezone, class: 'form-label' %>
        <%= form.select :timezone, options_for_select(Rails.configuration.supported_timezones.map {|timezone| [timezone.tzinfo.name, timezone.tzinfo.name]}.sort, selected: form.object.timezone), {}, {class: 'form-select'} %>
      </div>

      <div class="mb-3 border rounded p-3">
        <div class="mb-2">
          <h5>Change Password</h5>
          <small class="fst-italic">Leave blank to skip password change</small>
        </div>

        <div class="mb-3">
          <%= form.label :current_password, class: 'form-label' %>
          <%= form.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= form.label :password, value: 'New password', class: 'form-label' %>

          <% if @minimum_password_length %>
            <small class="fst-italic">(<%= @minimum_password_length %> characters minimum)</small>
          <% end %>

          <%= form.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= form.label :password_confirmation, value: 'New password confirmation', class: 'form-label' %>
          <%= form.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
        </div>
      </div>

      <div class="mb-3">
        <%= form.submit 'Update', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

  <div class="col-12 col-md-4 text-center">
    <%= image_tag gravatar_url(resource.email, size: 300), class: 'img-thumbnail' %>
    <p><small>Pirep uses Gravatar for user photos. Edit your image on <a href="https://www.gravatar.com">gravatar.com</a>.</small></p>
  </div>

  <div class="col-12 col-md-8 mt-5 mb-3">
    <div class="dangerzone border border-3 border-danger rounded p-3 text-dark">
      <h3>Delete account</h3>

      <p>Deleting your account is immediate and permanent. There is no undo option.</p>

      <%= button_to 'Delete account', registration_path(resource_name), data: {confirm: 'Are you sure you want to permanently delete your account?'}, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
