<%
  @title = 'Account'
  @breadcrumbs = [['Users'], [@user.email]]
%>

<div class="row">
  <div class="col-8">
    <h1 class="display-6">Account</h1>
  </div>

  <div class="col-4">
    <div class="d-flex justify-content-end mb-3">
      <%= link_to 'Edit', edit_user_registration_path(@user), class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <div class="text-center mb-3">
      <%= image_tag gravatar_url(@user.email, size: 300), class: 'img-thumbnail' %>
    </div>

    <ul class="list-group">
      <li class="list-group-item"><strong>Name:</strong> <%= @user.name %></li>
      <li class="list-group-item"><strong>Email Address:</strong> <%= @user.email %></li>
      <li class="list-group-item"><strong>Email Confirmed:</strong> <i class="fa-solid fa-<%= @user.confirmed_at ? 'square-check' : 'square-xmark' %>"></i></li>
      <li class="list-group-item"><strong>Timezone:</strong> <%= @user.timezone %></li>

      <li class="list-group-item">
        <strong>Last seen:</strong> <%= @user.last_seen_at ? "#{time_ago_in_words(@user.last_seen_at).capitalize} ago" : 'Never' %>
        <br><small class="text-muted"><%= format_timestamp(@user.last_seen_at) %></small>
      </li>

      <li class="list-group-item">
        <strong>Last edit:</strong> <%= @user.last_edit_at ? "#{time_ago_in_words(@user.last_edit_at).capitalize} ago" : 'None' %>
        <br><small class="text-muted"><%= format_timestamp(@user.last_edit_at) %></small>
      </li>
    </ul>
  </div>

  <div class="col-12 col-md-8">
    <%= render 'shared/users/statistics', user: @user %>
    <%= render 'shared/users/activity_timeline', user: @user, all_activity_path: activity_user_path %>
  </div>
</div>
