<%
  start_date_timestamp_format = '%a, %b %e %Y %l:%M%P'

  # For a start and end date on the same day we don't need to echo the full date again, only the hour and minute
  end_date_timestamp_format = (event.start_date.day == event.end_date.day ? '%l:%M%P' : start_date_timestamp_format)
%>

<div class="d-flex justify-content-between">
  <h5><%= event.name.upcase_first %></h5>

  <div>
    <%= link_to('<i class="fa-solid fa-file-arrow-down"></i> Export'.html_safe, event_path(event, format: :ical), class: 'btn btn-outline-primary btn-sm ') %>
    <%= link_to('<i class="fa-solid fa-edit"></i> Edit'.html_safe, edit_event_path(event), class: 'btn btn-outline-primary btn-sm ') %>
  </div>
</div>

<p class="mb-1">
  <%= format_timestamp event.next_start_date, format: start_date_timestamp_format, timezone: @airport.timezone %> &ndash;
  <%= format_timestamp event.next_end_date, format: end_date_timestamp_format, timezone: @airport.timezone %>

  <br>
  <% if event.recurring? %>
    <small class="text-body-secondary"><%= recurring_event_to_s(event) %></small>
  <% end %>
</p>

<% if event.location.present? || event.url.present? || event.host.present? %>
  <ul class="ps-4 mb-2">
    <% if event.location.present? %>
      <li>Location: <%= event.location %></li>
    <% end %>

    <% if event.url.present? %>
      <li>Event webpage: <%= link_to event.url, event.url %></li>
    <% end %>

    <% if event.host.present? %>
      <li>Host: <%= event.host %></li>
    <% end %>
  </ul>
<% end %>

<% if event.description.present? %>
  <%= event.description %>
<% end %>
