<% placeholder = '_airport_code_' %>

<%= render 'navigation' %>
<%= render 'drawer' %>

<div
  id="map"
  data-airports-path="<%= airports_path %>"
  data-airport-path="<%= airport_path(placeholder, format: :drawer) %>"
  data-placeholder="<%= placeholder %>"
  data-marker-image-path="<%= image_path('marker') %>"
></div>
