<% placeholder = '_airport_code_' %>

<%= render 'navigation' %>
<%= render 'drawer' %>

<div
  id="map"
  data-airports-path="<%= airports_path %>"
  data-airport-path="<%= airport_path(placeholder, format: :drawer) %>"
  data-placeholder="<%= placeholder %>"
  data-marker-image-path="<%= image_path('marker') %>"
  data-marker-selected-image-path="<%= image_path('marker_selected') %>"
  data-mapbox-api-key="<%= Rails.application.credentials.mapbox_api_key %>"
  data-is-test="<%= Rails.env.test? %>"></div>
