<div class="py-1 d-flex justify-content-between">
  <div class="fw-bold">METAR</div>
  <div><%= format_timestamp @airport.metar.observed_at, timezone: @airport.timezone %></div>
</div>

<table class="table mt-2 mb-1">
  <tbody>
    <tr>
      <td class="fw-medium">Ceiling:</td>
      <td><%= @airport.metar.ceiling == WeatherReport::SKY_CLEAR ? 'Sky clear' : "#{number_with_delimiter @airport.metar.ceiling}ft" %></td>
    </tr>

    <tr>
      <td class="fw-medium">Wind:</td>
      <td><%= render 'airports/weather/winds', weather_report: @airport.metar %></td>
    </tr>

    <tr>
      <td class="fw-medium">Temperature:</td>
      <td><%= @airport.metar.temperature&.to_i %>&deg;F</td>
    </tr>

    <tr>
      <td class="fw-medium">Dewpoint:</td>
      <td><%= @airport.metar.dewpoint&.to_i %>&deg;F</td>
    </tr>

    <tr>
      <td class="fw-medium">Weather:</td>
      <td><%= WeatherReportParser.new(@airport.metar).weather_label&.capitalize.presence || 'N/A' %></td>
    </tr>

    <tr>
      <td class="fw-medium">Visbility:</td>
      <td><%= @airport.metar.visibility %>SM</td>
    </tr>

    <% if @airport.metar.cloud_layers.filter {|cloud_layer| cloud_layer['coverage'] != 'CLR'}.any? %>
      <tr>
        <td class="fw-medium">Clouds:</td>
        <td><%= cloud_layers_to_s(@airport.metar) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <small>Raw: <code><%= @airport.metar.raw %></code></small>
</div>
