<div id="version-<%= version.id %>" class="d-flex align-items-stretch h-100">
  <div class="border-start border-primary position-relative">
    <div class="timeline-circle rounded-circle border border-primary bg-white"></div>

    <div class="ms-3">
      <%= time_ago_in_words(version.created_at).capitalize %> ago<br>

      <small class="text-body-secondary">
        <%= format_timestamp(version.created_at, timezone: @airport.timezone) %>

        <% if VersionPolicy.new(current_user, version).revert? && version.reverted_at.present? %>
          <br>Reverted at: <%= format_timestamp(version.reverted_at, timezone: @airport.timezone) %>
        <% end %>

        <% if current_user&.admin? %>
          <br><%= version_author(version) %>
        <% end %>
      </small>

      <div>
        <% if version.item_type == Airport.name %>
          <%= button_to 'View', preview_airport_path(@airport, version_id: version.id), method: :get, class: 'btn btn-outline-primary btn-sm mt-1' %>
        <% end %>

        <% if VersionPolicy.new(current_user, version).revert? && version.reverted_at.blank? %>
          <%= button_to 'Revert', revert_version_path(version), method: :patch, class: 'btn btn-outline-danger btn-sm mt-1' %>
        <% end %>

        <% if Manage::VersionPolicy.new(current_user, version).update? %>
          <%= button_to (version.reviewed_at ? 'Unapprove' : 'Approve'), manage_version_path(version),
            class: 'btn btn-sm btn-outline-success mt-1',
            method: :patch, params: {version: {reviewed_at: (version.reviewed_at ? nil : Time.zone.now)}} %>

          <p><small class="text-body-secondary">
            <% if version.reviewed_at %>
              Reviewed at: <%= format_timestamp version.reviewed_at, timezone: @airport.timezone %>
            <% else %>
              Unreviewed
            <% end %>
          </small></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
