<%
  @title = 'Activity'
  @breadcrumbs = [['Activity']]
%>

<div class="row gy-3 mt-1">
  <%= render 'meter', label: 'Total Edits', value: Action.where(type: Action.edited_actions).count %>
  <%= render 'meter', label: 'Total Comments', value: Comment.count %>
  <%= render 'meter', label: 'Edits Last 30 Days', value: Action.where(type: Action.edited_actions).where('created_at > ?', 30.days.ago).count %>
  <%= render 'meter', label: 'Unique Users Last 30 Days', value: Pageview.where('created_at > ?', 1.month.ago).distinct.pluck(:user_id).count %>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <%= render 'activity_list', records: @read_airports[:all_time],
      title: "Top #{@limit} Viewed Airports &ndash; All Time".html_safe,
      count: @read_airports[:all_time].count(Airport.table_name) do |airport| %>
      <%= link_to airport.code, manage_airport_path(airport) %> - <%= airport.name.titleize %>: <%= number_with_delimiter(airport.rank) %> views
    <% end %>
  </div>

  <div class="col-12 col-md-6">
    <%= render 'activity_list', records: @read_airports[:month],
      title: "Top #{@limit} Viewed Airports &ndash; Past 30 days".html_safe,
      count: @read_airports[:month].count(Airport.table_name) do |airport| %>
      <%= link_to airport.code, manage_airport_path(airport) %> - <%= airport.name.titleize %>: <%= number_with_delimiter(airport.rank) %> views
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <%= render 'activity_list', records: @edited_airports[:all_time],
      title: "Top #{@limit} Edited Airports &ndash; All Time".html_safe,
      count: @edited_airports[:all_time].count(Airport.table_name) do |airport| %>
      <%= link_to airport.code, manage_airport_path(airport) %> - <%= airport.name.titleize %>: <%= number_with_delimiter(airport.rank) %> edits
    <% end %>
  </div>

  <div class="col-12 col-md-6">
    <%= render 'activity_list', records: @edited_airports[:month],
      title: "Top #{@limit} Edited Airports &ndash; Past 30 days".html_safe,
      count: @edited_airports[:month].count(Airport.table_name) do |airport| %>
      <%= link_to airport.code, manage_airport_path(airport) %> - <%= airport.name.titleize %>: <%= number_with_delimiter(airport.rank) %> edits
    <% end %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12 col-md-6">
    <%= render 'activity_list', records: @active_users[:all_time],
      title: "Top #{@limit} Users &ndash; All Time".html_safe,
      count: @active_users[:all_time].count(Users::User.table_name) do |user| %>
      <%= link_to user_label(user), manage_user_path(user) %>: <%= number_with_delimiter(user.rank) %> edits
    <% end %>
  </div>

  <div class="col-12 col-md-6">
    <%= render 'activity_list', records: @active_users[:month],
      title: "Top #{@limit} Users &ndash; Past 30 days".html_safe,
      count: @active_users[:month].count(Users::User.table_name) do |user| %>
      <%= link_to user_label(user), manage_user_path(user) %>: <%= number_with_delimiter(user.rank) %> edits
    <% end %>
  </div>
</div>
