<%
  total_records ||= records.limit(nil).offset(nil).count
  path_query ||= {}

  page = (params[:page] || 0).to_i
  total_pages = (total_records / (page_size || Rails.configuration.pagination_page_size).to_f).ceil

  if page - 2 < 0
    start_range = [page - 2, 0].max
    end_range = [start_range + 4, total_pages - 1].min
  else
    end_range = [page + 2, total_pages - 1].min
    start_range = [end_range - 4, 0].max
  end
%>

<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link <%= page > 0 ? '' : 'disabled' %>" href="<%= defined?(path) ? send(path, {page: 0}.merge(path_query)) : '' %>" data-page="0">First</a>
    </li>

    <% (start_range..end_range).each do |label| %>
      <li class="page-item">
        <a class="page-link <%= label == page ? 'active' : '' %>" href="<%= defined?(path) ? send(path, {page: label}.merge(path_query)) : '' %>" data-page="<%= label %>"><%= label + 1 %></a>
      </li>
    <% end %>

    <li class="page-item">
      <a class="page-link <%= page < (total_pages - 1) ? '' : 'disabled' %>" href="<%= defined?(path) ? send(path, {page: total_pages - 1}.merge(path_query)) : '' %>" data-page="<%= total_pages - 1 %>">Last</a>
    </li>
  </ul>
</nav>
