<% content_for :collapsible_content, flush: true do %>
  <%= form_with model: Webcam.new, local: true do |form| %>
    <div class="alert alert-warning py-2">
      Direct links to live image URLs will be displayed inline on this page. URLs to separate webpages will be linked to.
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">URL:</span>
      <%= form.text_field :url, class: 'form-control' %>

      <%= form.hidden_field :airport_id, value: @airport.id %>
      <%= form.submit value: 'Add Webcam', class: 'btn btn-primary', data: {disable_with: 'Add Webcam'} %>
    </div>
  <% end %>
<% end %>

<%= render 'shared/collapsible', id: 'add-webcam-form', classes: 'mb-2' %>
