<div class="card mt-3">
  <div class="card-header">
    <i class="fas fa-camera"></i> Airport <%= 'Webcam'.pluralize(@airport.webcams.count) %>
  </div>

  <ul class="list-group list-group-flush">
    <% @airport.webcams.reject(&:image?).each do |webcam| %>
      <li class="list-group-item"><%= link_to(webcam.url.truncate(50), webcam.url, class: 'webcam-link') %></li>
    <% end %>
  </ul>
</div>

<% if @airport.webcams.any? %>
  <%= render 'airports/webcams/webcam', webcam: @airport.webcams.first %>
<% end %>

<div class="text-end mt-2">
  <% if @airport.webcams.empty? %>
    <small class="text-muted">No webcams added yet.</small>
  <% end %>

  <button type="button" class="btn btn-outline-primary btn-sm me-2" data-bs-toggle="collapse" data-bs-target="add-webcam-form">Add Webcam</a>

  <% if @airport.webcams.count > 1 %>
    <button id="show-more-webcams" class="btn btn-outline-primary btn-sm" data-bs-toggle="collapse" data-bs-target="show-all-webcams">Show More</a></button>
  <% end %>
</div>

<% content_for :collapsible_content, flush: true do %>
  <% @airport.webcams.offset(1).each do |webcam| %>
    <%= render 'airports/webcams/webcam', webcam: webcam %>
  <% end %>
<% end %>

<%= render 'shared/collapsible', id: 'show-all-webcams', classes: 'mb-2' %>

<%= render 'airports/webcams/add_webcam_form' %>
