<% embedded_webcams = @airport.webcams.select(&:embedded?) %>

<div id="webcams" class="card mb-2">
  <div class="card-header">
    <i class="fas fa-camera"></i> Airport <%= 'Webcam'.pluralize(@airport.webcams.count) %>
  </div>

  <%# Render all link webcams in a list group %>
  <%= render 'airports/webcams/webcams_list', webcams: @airport.webcams.reject(&:embedded?) %>
</div>

<%# Render only the first embedded webcam and then put the rest in a collapisble container to avoid taking up too much vertical space %>
<% if embedded_webcams.any? %>
  <%= render 'airports/webcams/webcam', webcam: embedded_webcams.first %>
<% end %>

<div class="text-end mb-2">
  <% if @airport.webcams.empty? %>
    <small class="text-body-secondary me-2">No webcams added yet.</small>
  <% end %>

  <button type="button" class="btn btn-outline-primary btn-sm mb-2" data-bs-toggle="collapse" data-bs-target="add-webcam-form">Add Webcam</a>

  <% if embedded_webcams.count > 1 %>
    <button id="show-more-webcams" class="btn btn-outline-primary btn-sm mb-2 ms-2" data-bs-toggle="collapse" data-bs-target="show-all-webcams">Show More</a></button>
  <% end %>
</div>

<%= render 'airports/webcams/add_webcam_form' %>

<% content_for :collapsible_content, flush: true do %>
  <% if embedded_webcams.count > 1 %>
    <% embedded_webcams[1..].each do |webcam| %>
      <%= render 'airports/webcams/webcam', webcam: webcam %>
    <% end %>
  <% end %>
<% end %>

<%= render 'shared/collapsible', id: 'show-all-webcams', classes: 'mb-2' %>
