<div class="card my-3">
  <div class="card-header">
    <i class="fas fa-comments"></i> Comments
  </div>

  <ul class="list-group list-group-flush">
    <% @airport.comments.order(:created_at).each do |comment| %>
      <li class="comment list-group-item" data-comment-id="<%= comment.id %>">
        <div class="alert alert-warning outdated-at <%= comment.outdated_at ? '' : 'd-none' %>">
          This comment was flagged as outdated on <span class="date"><%= comment.outdated_at&.strftime('%B %-d, %Y') %></span>.
          <%= button_to [:undo_outdated, comment], remote: true, class: 'btn btn-link btn-sm p-0', form: {class: 'd-inline-block'} do %>(undo)<% end %>
        </div>

        <div class="comment-actions text-right ml-2">
          <%= button_to [:helpful, comment], remote: true, class: 'btn btn-outline-primary btn-sm' do %>
            <i class="fas fa-thumbs-up"></i> Helpful
          <% end %>

          <%= button_to [:flag_outdated, comment], remote: true, class: 'btn btn-outline-warning btn-sm flag-outdated' + (comment.outdated_at ? ' d-none' : '') do %>
            <i class="fas fa-flag"></i> Flag as outdated
          <% end %>
        </div>

        <div class="comment-body pl-2 my-1">
          <%= comment.body %>
        </div>

        <div class="small text-muted">
          Created <%= time_ago_in_words comment.created_at %> ago (<%= comment.created_at.strftime('%B %-d, %Y') %>)
          <div class="helpful-count <%= comment.helpful_count.zero? ? 'd-none' : '' %>">
            Helpful count: <span class="count"><%= comment.helpful_count %></span> <i class="fas fa-thumbs-up"></i>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <%= form_with model: Comment.new, local: true do |form| %>
    <div class="form-group p-3">
      <i class="fas fa-comment"></i> Leave a comment

      <%= form.text_area :body, class: 'form-control comment-textarea my-3' %>
      <%= form.hidden_field :airport_id, value: @airport.id %>
      <%= form.submit 'Add Comment', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
