<div class="photo-gallery">
  <% photos.each_with_index do |photo, index| %>
    <img class="image <%= index == 0 ? 'active' : '' %> <%= defined?(border) ? 'img-thumbnail' : '' %>" src="<%= photo.is_a?(ActiveStorage::Attachment) ? url_for(photo) : photo[:url] %>">
  <% end %>

  <%# Don't show the previous and next controls if there's only one image %>
  <% if photos.count > 1 %>
    <div class="previous">
      <a class="<%= defined?(border) ? '' : 'mx-0' %>"><i class="fas fa-chevron-left"></i></a>
    </div>

    <div class="next">
      <a class="<%= defined?(border) ? '' : 'mx-0' %>"><i class="fas fa-chevron-right"></i></a>
    </div>
  <% end %>
</div>
