<%
  read_only = defined?(read_only) && read_only
  last_updated = model.send("#{column}_updated_at")
%>

<div class="card mt-2">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <span class="flex-shrink-0 me-3"><i class="fas <%= icon %> me-2"></i><%= title.html_safe %></span>

      <% unless read_only %>
        <span class="status-indicator hide flex-grow-1 text-end me-3"></span>
        <span><i class="fas fa-edit editor-edit-icon"></i></span>
      <% end %>
    </div>
  </div>

  <div>
    <%= text_area_tag nil, model.send(column), data: {
      editor: true,
      height: textarea_editor_height(defined?(height) && height ? height : :large),
      read_only: read_only,
    }.compact %>

    <%= form_with model: model, local: false do |form| %>
      <%= form.hidden_field :rendered_at, value: Time.zone.now.iso8601, 'data-rendered-at': true %>
      <%= form.hidden_field column, {'data-column-field': true} %>
    <% end %>
  </div>
</div>

<div class="text-end mb-3">
  <% if model.send(column).present? && last_updated %>
    <small class="text-body-secondary">Last updated: <%= format_timestamp last_updated %></small>
  <% end %>
</div>
