<% read_only = defined?(read_only) && read_only %>

<div class="card my-2">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <span><i class="fas <%= icon %> me-2"></i><%= title.html_safe %></span>

      <% unless read_only %>
        <div>
          <span class="editor-saved saved-indicator hide text-success me-2">Saved!</span>
          <i class="fas fa-edit editor-edit-icon"></i>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <%= text_area_tag nil, model.send(column), data: {editor: true, read_only: read_only, height: textarea_editor_height(defined?(height) && height ? height : :large)}.compact %>

    <%= form_with model: model, local: false do |form| %>
      <%= form.hidden_field column, {'data-column-field': true} %>
    <% end %>
  </div>
</div>
