<% @breadcrumbs = [[@airport.code, airport_path(@airport)], ['History']] %>

<%= render 'header', subtitle: 'Revision History' %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <%= render 'layouts/flashes' %>
    </div>
  </div>

  <div class="row">
    <% @airport.all_versions.each do |version| %>
      <% next unless version.object_changes %>

      <% version.object_changes.each do |column, change| %>
        <% next unless Airport::HISTORY_COLUMNS.keys.include?(column.to_sym) || (version.item_type == 'Tag' && column == 'name') %>

        <div class="col-12">
          <div class="row revision">
            <div class="col-3 d-flex align-items-stretch">
              <div class="border-start border-primary position-relative">
                <div class="timeline-circle rounded-circle border border-primary bg-white"></div>

                <div class="ms-3">
                  <%= time_ago_in_words(version.created_at).capitalize %> ago<br>

                  <span class="text-muted"><small>
                    <%= format_timestamp(version.created_at) %>
                    <% if current_user&.admin? %>
                      <br><%= version_author(version) %>
                    <% end %>
                  </small></span>

                  <div>
                    <% if version.item_type != 'Tag' %>
                      <%= button_to 'View', preview_airport_path(@airport, version_id: version.id), method: :get, class: 'btn btn-outline-primary btn-sm mt-1' %>
                    <% end %>

                    <% if version.item_type == 'Tag' %>
                      <% if TagPolicy.new(current_user, version.reify).revert? %>
                        <%= button_to 'Revert', revert_tag_path(version.id), method: :patch, class: 'btn btn-outline-danger btn-sm mt-1' %>
                      <% end %>
                    <% else %>
                      <% if AirportPolicy.new(current_user, @airport).revert? %>
                        <%= button_to 'Revert', revert_airport_path(@airport, version_id: version.id), method: :patch, class: 'btn btn-outline-danger btn-sm mt-1' %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-9">
              <div class="card mb-5">
                <div class="card-header ps-1">
                  <%= version_title(version, column) %>
                </div>

                <div class="row">
                  <div class="col-6 pe-0">
                    <div class="diff diff-removed p-1"><%= diff(change.first, change.last).left.html_safe %></div>
                  </div>

                  <div class="col-6 ps-0 border-start">
                    <div class="diff diff-added p-1"><%= diff(change.first, change.last).right.html_safe %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
