<div class="airport-drawer-header theme-<%= @airport.theme %>">
  <div class="row">
    <div class="col-sm pt-3 pb-2 d-flex">
      <h3 class="flex-fill"><%= @airport.code %> - <%= @airport.name.titleize %></h3>
      <span class="flex-shrink-0"><%= link_to 'More &gt;'.html_safe, airport_path(@airport.code), class: 'btn btn-primary btn-sm' %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm py-2 d-flex">
      <span class="flex-fill"><%= @airport.latitude.round(7) %>, <%= @airport.longitude.round(7) %></span>
      <button
        type="button"
        class="btn btn-secondary btn-sm zoom-btn"
        data-bounding-box="<%= @airport.bounding_box.to_json %>"
        data-latitude="<%= @airport.latitude %>"
        data-longitude="<%= @airport.longitude %>"
        data-zoom-level="<%= @airport.zoom_level %>">Zoom In</button>
    </div>
  </div>
</div>

<% if @airport.all_photos.any? %>
  <div class="row">
    <div class="col-sm p-0">
      <%= render partial: 'airports/photo_gallery', formats: :html, locals: {photos: @airport.all_photos} %>
    </div>
  </div>
<% end %>

<% if @airport.empty? || @airport.closed? %>
  <div class="row my-2">
    <div class="col-sm">
      <%= render partial: 'airports/notices', formats: :html, locals: {show_link: true} %>
    </div>
  </div>
<% end %>

<div class="row my-2">
  <div class="col-sm d-flex flex-wrap">
    <% @airport.tags.each do |tag| %>
      <%= render partial: 'airports/tags/tag', formats: :html, locals: {tag_record: tag, size: :small} %>
    <% end %>
  </div>
</div>

<%= render partial: 'airports/statistics/statistics_boxes', formats: :html, locals: {drawer: true, runways_limit: 3} %>
<%= render partial: 'airports/landing_rights/landing_rights', formats: :html %>

<div class="row">
  <div class="col-sm">
    <%= render partial: 'airports/textarea_editor', formats: :html, locals: {
      model: @airport, column: :description, height: :medium, read_only: true, icon: 'fa-book-open', title: 'Description'
    } %>
  </div>
</div>

<div class="row">
  <div class="col-sm mb-1 text-center">
    <%= link_to 'More Info &gt;'.html_safe, airport_path(@airport.code), class: 'btn btn-primary btn' %></span>
  </div>
</div>
