<%= render 'header' %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <%= render 'layouts/flashes' %>
    </div>
  </div>

  <% if @airport.empty? || @airport.closed? %>
    <div class="row">
      <div class="col-12">
        <%= render 'airports/notices' %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12 col-md-6">
      <%= render 'airports/tags/tags' %>
      <%= render 'airports/statistics/statistics' %>

      <%
        [
          {column: :description, icon: 'fa-book-open', title: 'Description'},
          {column: :transient_parking, icon: 'fa-parking', title: 'Transient Parking'},
          {column: :fuel_location, icon: 'fa-gas-pump', title: 'Fuel Location'},
          {column: :landing_fees, icon: 'fa-dollar-sign', title: 'Landing &amp; Tie-down Fees'},
          {column: :crew_car, icon: 'fa-car', title: 'Crew Car Availability'},
          {column: :wifi, icon: 'fa-wifi', title: 'WiFi Access'},
        ].each do |textarea|
      %>
        <%= render 'airports/textarea_editor', model: @airport, column: textarea[:column], icon: textarea[:icon], title: textarea[:title] %>
      <% end %>
    </div>

    <div class="col-12 col-md-6">
      <%= render partial: 'airports/photo_gallery', formats: :html, locals: {photos: @airport.all_photos, border: true} %>
      <%= render 'airports/upload_photo_form' %>

      <% if @airport.diagram %>
        <img class="airport-diagram img-thumbnail" src="<%= '/assets/diagrams/%s' % @airport.diagram %>">
      <% else %>
        <img class="airport-diagram img-thumbnail" src="<%= airport_satellite_image(@airport) %>">
      <% end %>

      <%= render 'airports/remarks' %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= render 'airports/comments' %>
    </div>
  </div>
</div>
