<div class="container airport-header text-center mb-3 theme-<%= @airport.theme %>">
  <div class="row">
    <div class="col-sm p-3">
      <h3><%= @airport.code %> - <%= @airport.name.titleize %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm p-2">
      <%= @airport.latitude %>, <%= @airport.longitude %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          <%= render 'airports/tags/tags' %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <%= render 'airports/statistics/statistics' %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <%= render partial: 'airports/textarea_editor', locals: {model: @airport, column: :description, title: '<span><i class="fas fa-book-open"></i> Description</span>'.html_safe} %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <%= render partial: 'airports/textarea_editor', locals: {model: @airport, column: :transient_parking, height: :small, title: '<span><i class="fas fa-parking"></i> Transient Parking</span>'.html_safe} %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <%= render partial: 'airports/textarea_editor', locals: {model: @airport, column: :fuel_location, height: :small, title: '<span><i class="fas fa-gas-pump"></i> Fuel Location</span>'.html_safe} %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <%= render partial: 'airports/textarea_editor', locals: {model: @airport, column: :crew_car, height: :small, title: '<span><i class="fas fa-car"></i> Crew Car</span>'.html_safe} %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <%= render partial: 'airports/textarea_editor', locals: {model: @airport, column: :landing_fees, height: :small, title: '<span><i class="fas fa-dollar-sign"></i> Landing &amp; Tie-down Fees</span>'.html_safe} %>
        </div>
      </div>

      <!--<div class="row">
        <div class="col-sm">
          <%= render partial: 'airports/textarea_editor', locals: {model: @airport, column: :gate_code, height: :small, title: 'Gate Code'} %>
        </div>
      </div>-->

      <div class="row">
        <div class="col-sm">
          <%= render partial: 'airports/textarea_editor', locals: {model: @airport, column: :wifi, height: :small, title: '<span><i class="fas fa-wifi"></i> WiFi Access</span>'.html_safe} %>
        </div>
      </div>

      <!--<div class="row">
        <div class="col-sm">
          <%= render partial: 'airports/textarea_editor', locals: {model: @airport, column: :passport_location, height: :small, title: 'Passport Location'} %>
        </div>
      </div>-->
    </div>

    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          <%= render partial: 'airports/photo_gallery', formats: :html, locals: {photos: @airport.all_photos} %>
          <%= render 'airports/upload_photo_form' %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <% if @airport.diagram %>
            <img class="airport-diagram" src="<%= '/assets/diagrams/%s' % @airport.diagram %>">
          <% else %>
            <%# Fallback to a satellite image if we don't have an airport diagram %>
            <img class="airport-diagram" src='https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v11/static/<%= @airport.longitude %>,<%= @airport.latitude %>,16/1076x1280@2x?access_token=<%= Rails.configuration.mapbox_api_key %>'>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <%= render 'airports/remarks' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= render 'airports/comments' %>
    </div>
  </div>
</div>
