<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3><%= @airport.code %> - <%= @airport.name.titleize %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <%= @airport.latitude %>, <%= @airport.longitude %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          <%= render 'airports/tags' %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Stats
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Description
          <%= render partial: 'airports/textarea_editor', locals: {model: @airport, column: :description} %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Transient parking
          <%= render partial: 'airports/textarea_editor', locals: {model: @airport, column: :transient_parking, height: :small} %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Fuel Type & Location
          <%= render partial: 'airports/textarea_editor', locals: {model: @airport, column: :fuel_location, height: :small} %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Crew Car
          <%= render partial: 'airports/textarea_editor', locals: {model: @airport, column: :crew_car, height: :small} %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Landing & Tie-down fees
          <%= render partial: 'airports/textarea_editor', locals: {model: @airport, column: :landing_fees, height: :small} %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Gate Code
          <%= render partial: 'airports/textarea_editor', locals: {model: @airport, column: :gate_code, height: :small} %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          WiFi
          <%= render partial: 'airports/textarea_editor', locals: {model: @airport, column: :wifi, height: :small} %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Passport Location
          <%= render partial: 'airports/textarea_editor', locals: {model: @airport, column: :passport_location, height: :small} %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Comments
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          Photo gallery
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Taxi diagram
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <%= render 'airports/remarks' %>
        </div>
      </div>
  </div>
</div>
