<%
  @title = "#{@airport.code} - #{@airport.name.titleize}"
  @meta_title = "#{@title} Airport"
  @meta_description = opengraph_description(@airport, lines: 1)

  @opengraph = {
    description: opengraph_description(@airport),
    image_url: opengraph_image(@airport),
    page_url: airport_url(@airport),
    title: "#{@airport.code} - #{@airport.name.titleize} (Pirep)",
  }
%>

<%= render 'airports/header/header' %>

<div class="container-lg">
  <div class="row">
    <div class="col-12">
      <%= render 'layouts/flashes' %>
      <%= render 'shared/record_errors', record: @airport %>
    </div>
  </div>

  <%= render 'airports/welcome_info' %>

  <% if @airport.empty? || @airport.closed? || @airport.unmapped? %>
    <div class="row">
      <div class="col-12">
        <%= render 'airports/notices' %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12 col-md-6">
      <%= render partial: 'airports/photo_gallery/photo_gallery', formats: :html, locals: {photo_groups: @airport.all_photos, border: true} %>
      <%= render 'airports/photo_gallery/upload_photo_form' %>
      <%= render 'airports/tags/tags' %>
      <%= render 'airports/events/events' %>

      <%
        [
          {column: :description, icon: 'fa-book-open', title: Airport::TEXTAREA_EDITABLE_COLUMNS[:description]},
          {column: :transient_parking, icon: 'fa-parking', title: Airport::TEXTAREA_EDITABLE_COLUMNS[:transient_parking], height: :medium},
          {column: :fuel_location, icon: 'fa-gas-pump', title: Airport::TEXTAREA_EDITABLE_COLUMNS[:fuel_location], height: :small},
          {column: :landing_fees, icon: 'fa-dollar-sign', title: Airport::TEXTAREA_EDITABLE_COLUMNS[:landing_fees], height: :small},
          {column: :crew_car, icon: 'fa-car', title: Airport::TEXTAREA_EDITABLE_COLUMNS[:crew_car], height: :small},
          {column: :flying_clubs, icon: 'fa-people-group', title: Airport::TEXTAREA_EDITABLE_COLUMNS[:flying_clubs], height: :small},
          {column: :wifi, icon: 'fa-wifi', title: Airport::TEXTAREA_EDITABLE_COLUMNS[:wifi], height: :small},
        ].each do |textarea|
      %>
        <%= render 'airports/textarea_editor', model: @airport, column: textarea[:column], icon: textarea[:icon], title: textarea[:title], height: textarea[:height] %>
      <% end %>
    </div>

    <div class="col-12 col-md-6">
      <%= render 'airports/statistics/statistics' %>
      <%= render 'airports/map' %>
      <%= render 'airports/diagram' %>
      <%= render 'airports/webcams/webcams' %>
      <%= render 'airports/remarks' %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= render 'airports/comments' %>
    </div>
  </div>
</div>
