<%
  actions_limit = 10
  actions = Action.where(user: user).order(created_at: :desc)
%>

<h5>Recent Activity</h5>
<small><%= link_to 'View all Activity', all_activity_path %></small>

<% if actions.any? %>
  <ul class="list-group my-3">
    <% actions.limit(actions_limit).each do |action| %>
      <%
        link = action_link(action)
        next unless link
      %>

      <li class="list-group-item">
        <i class="<%= link[:icon] %>"></i> <%= link[:label] %>
        <br><small class="text-body-secondary"><%= format_timestamp action.created_at %></small>
      </li>
    <% end %>

    <% if actions.count > actions_limit %>
      <div class="list-group-item">
        <small class="fst-italic text-body-secondary">Showing <%= actions_limit %> most recent contributions only &mdash; <%= link_to 'view all activity', activity_manage_user_path(user) %>.</small>
      </div>
    <% end %>
  </ul>
<% else %>
  <%= render 'shared/empty_view', label: 'No contributions exist.' %>
<% end %>
