<% @breadcrumbs = [['Users', manage_users_path], [@user.email, manage_user_path(@user)], ['Edit']] %>

<h1 class="display-6">Edit <%= @user.email %></h1>

<%= form_with(model: @user, url: manage_user_path(@user), html: {method: :patch}) do |form| %>
  <div class="my-1">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="my-1">
    <%= form.label :email, class: 'form-label' %>
    <%= form.email_field :email, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class="my-1">
    <%= form.label :type, class: 'form-label' %>
    <%= form.select :type, options_for_select([['Known', Users::Known.name.to_s], ['Admin', Users::Admin.name.to_s]], selected: @user.type), {}, {class: 'form-control'} %>
  </div>

  <div class="my-3">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
