<% read_only = defined?(read_only) && read_only %>

<% if !@airport.authoritative? && @airport.landing_rights == :public_ %>
  <div class="alert alert-warning mb-3">
    <i class="fa-solid fa-triangle-exclamation me-1"></i>Warning: This airport was imported from a non-authoritative source. Its public/private status may not be accurate.
  </div>
<% end %>

<div class="landing-rights d-flex <%= read_only ? 'mb-3' : '' %>">
  <div class="icon text-center d-flex justify-content-center align-items-center theme-<%= Airport::LANDING_RIGHTS_TYPES[@airport.landing_rights][:color] %>">
    <i class="fas fa-<%= Airport::LANDING_RIGHTS_TYPES[@airport.landing_rights][:icon] %>"></i>
  </div>

  <div class="label bg-secondary-subtle flex-fill p-2">
    <div>
      Access: <%= Airport::LANDING_RIGHTS_TYPES[@airport.landing_rights][:long_description] %>
    </div>

    <% unless read_only %>
      <div class="small my-1">
        <% if @airport.landing_rights == :private_ %>
          <% if @airport.facility_type == 'military' %>
            This is a military facility.
          <% else %>
            Is this airport privately owned but open to the public with or without restrictions? Or perhaps the owner is simply happy for pilots to stop by with prior permission?
          <% end %>
        <% elsif @airport.landing_rights == :restricted && @airport.landing_requirements.present? %>
          <%= Airport::LANDING_RIGHTS_TYPES[@airport.landing_rights][:short_requirements_label] %>: <%= @airport.landing_requirements %>
        <% elsif @airport.ownership_type.to_sym == :PR && @airport.landing_rights == :public_ %>
          This airport is privately owned but open to the public.
       <% end %>
      </div>

      <% if @airport.facility_type != 'military' %>
        <div>
          <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="collapse" data-bs-target="landing-rights-form">Edit Airport Access</button>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% unless read_only %>
  <% content_for :collapsible_content, flush: true do %>
    <%= render 'airports/landing_rights/landing_rights_form' %>
  <% end %>

  <%= render 'shared/collapsible', id: 'landing-rights-form', classes: 'mt-2 mb-3' %>
<% end %>
