<div class="landing-rights d-flex mb-3">
  <div class="icon text-center d-flex justify-content-center align-items-center theme-<%= Airport::LANDING_RIGHTS_TYPES[@airport.landing_rights][:color] %>">
    <i class="fas fa-<%= Airport::LANDING_RIGHTS_TYPES[@airport.landing_rights][:icon] %>"></i>
  </div>

  <div class="label flex-fill p-2">
    <div>
      Access: <%= Airport::LANDING_RIGHTS_TYPES[@airport.landing_rights][:long_description] %>
    </div>

    <% if defined? show_edit_form %>
      <div class="small my-1">
        <% if @airport.landing_rights == :private_ %>
          Is this airport privately owned but open to the public with or without restrictions? Or perhaps the owner is simply happy for pilots to stop by with prior permission?
        <% elsif @airport.landing_rights == :restricted && @airport.landing_requirements.present? %>
          <%= Airport::LANDING_RIGHTS_TYPES[@airport.landing_rights][:short_requirements_label] %>: <%= @airport.landing_requirements %>
        <% elsif @airport.ownership_type.to_sym == :PR && @airport.landing_rights == :public_ %>
          This airport is privately owned but open to the public.
       <% end %>
      </div>

      <div>
        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="collapse" data-bs-target="landing-rights-form">Edit Airport Access</button>
      </div>
    <% end %>
  </div>
</div>

<% if defined? show_edit_form %>
  <% content_for :collapsible_content, flush: true do %>
    <%= render 'airports/landing_rights/landing_rights_form' %>
  <% end %>

  <%= render 'shared/collapsible', id: 'landing-rights-form' %>
<% end %>
