<div class="container-fluid d-flex flex-nowrap flex-md-wrap justify-content-between position-relative p-0">
  <div class="search">
    <div class="input-group">
      <input id="search" class="form-control" type="text" autocomplete="off" placeholder="Map loading&hellip;" disabled data-search-endpoint="<%= basic_search_airports_path %>">
      <button id="search-dropdown" class="btn btn-light-dark border-start" type="button" data-target="search-options"><i class="fa-solid fa-chevron-down"></i></button>
    </div>

    <div id="search-options" class="search-options d-none bg-body p-3 p-md-2 rounded-bottom">
      <%= link_to '<i class="fas fa-magnifying-glass me-1"></i>Advanced Search'.html_safe, search_airports_path %>
    </div>

    <div id="search-results-parent">
      <ul id="search-results" class="list-group"></ul>
    </div>
  </div>

  <div class="navigation bg-body border">
    <%# Logo or manage link %>
    <span class="d-none d-md-inline border-end border-dark ps-2 pe-2">
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to '<i class="fas fa-gear me-1"></i>Manage'.html_safe, manage_root_path %>
      <% elsif user_signed_in? %>
        <%= link_to '<i class="fas fa-user me-1"></i>Account'.html_safe, user_path %>
      <% else %>
        <a href="#" class="drawer-link text-decoration-none" data-target="about">
          <%= image_tag 'logo_small.png', class: 'logo' %>
          <%= image_tag 'logo_small_dark.png', class: 'logo logo-dark' %>
        </a>
      <% end %>
    </span>

    <a href="#" id="hamburger-icon" class="d-inline-block text-body px-3" tabindex="-1" data-target="hamburger-menu"><i class="fas fa-bars"></i></a>
  </div>
</div>

<div id="hamburger-menu" class="d-none mt-2">
  <div class="d-flex justify-content-end">
    <ul class="list-group">
      <% if user_signed_in? %>
        <li class="list-group-item selectable p-0"><%= link_to '<i class="fas fa-right-from-bracket me-1"></i>Logout'.html_safe, destroy_user_session_path, method: :delete, class: 'p-3' %></li>
      <% else %>
        <li class="list-group-item selectable p-0"><a href="#" class="drawer-link p-3" data-target="login"><i class="fas fa-right-to-bracket me-1"></i>Log In / Register</a></li>
      <% end %>

      <li class="list-group-item selectable p-0"><%= link_to '<i class="fas fa-magnifying-glass me-1"></i>Advanced Airport Search'.html_safe, search_airports_path, class: 'p-3' %></li>
      <li class="list-group-item selectable p-0"><%= link_to '<i class="fas fa-trophy me-1"></i>Leaderboard'.html_safe, leaderboard_path, class: 'p-3' %></li>
      <li class="list-group-item selectable p-0"><a href="#" class="drawer-link p-3" data-target="origin"><i class="fas fa-circle-play me-1"></i>Getting Started</a></li>
      <!--<li class="list-group-item selectable p-0"><i class="fas fa-tablet-screen-button me-1"></i>ForeFlight Content Packs</li>-->
      <li class="list-group-item selectable p-0"><a href="#" class="drawer-link p-3" data-target="about"><i class="fas fa-question-circle me-1"></i>About Pirep</a></li>

      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="me-2">Theme:</div>

        <div class="color-scheme-selector btn-group">
          <input type="radio" class="btn-check" name="btnradio" id="color-scheme-auto" autocomplete="off" data-color-scheme="auto">
          <label class="btn btn-outline-primary" for="color-scheme-auto" tabindex="-1"><i class="fa-solid fa-circle-half-stroke me-1"></i>Auto</label>

          <input type="radio" class="btn-check" name="btnradio" id="color-scheme-light" autocomplete="off" data-color-scheme="light">
          <label class="btn btn-outline-primary" for="color-scheme-light" tabindex="-1"><i class="fa-solid fa-sun me-1"></i>Light</label>

          <input type="radio" class="btn-check" name="btnradio" id="color-scheme-dark" autocomplete="off" data-color-scheme="dark">
          <label class="btn btn-outline-primary" for="color-scheme-dark" tabindex="-1"><i class="fa-solid fa-moon me-1"></i>Dark</label>
        </div>
      </li>
    </ul>
  </div>
</div>
