<div class="container-fluid d-flex flex-nowrap flex-md-wrap justify-content-between position-relative p-0">
  <div class="search">
    <div class="input-group">
      <input id="search" class="form-control" type="text" autocomplete="off" placeholder="Map loading&hellip;" disabled data-search-endpoint="<%= basic_search_airports_path %>">
      <button id="search-dropdown" class="btn btn-light-dark border-start" type="button" data-target="search-options"><i class="fa-solid fa-chevron-down"></i></button>
    </div>

    <div id="search-options" class="search-options d-none bg-body p-1 rounded-bottom">
      <small><%= link_to 'Advanced Search', search_airports_path %></small>
    </div>

    <div id="search-results-parent">
      <ul id="search-results" class="list-group"></ul>
    </div>
  </div>

  <div id="hamburger-icon" class="d-md-none ms-2" data-target="hamburger-menu">
    <button type="button" class="btn bg-body"><i class="fa-solid fa-bars"></i></button>
  </div>

  <div class="navigation bg-body border d-none d-md-block">
    <%# Logo or manage link %>
    <% if user_signed_in? && current_user.admin? %>
      <span class="border-end border-dark ps-2 pe-1 me-2">
        <%= link_to '<i class="fas fa-gear me-1"></i>Manage'.html_safe, manage_root_path %>
      </span>
    <% else %>
      <span class="border-end border-dark ps-2 pe-1 me-2">
        <%= image_tag 'logo_small.png', class: 'logo' %>
        <%= image_tag 'logo_small_dark.png', class: 'logo logo-dark' %>
      </span>
    <% end %>

    <%# Account or about link %>
    <% if user_signed_in? %>
      <span class="border-end border-dark pe-1 me-2">
        <%= link_to '<i class="fas fa-user me-1"></i>Account'.html_safe, user_path %>
      </span>
    <% else %>
      <span class="border-end border-dark pe-1 me-2">
        <a href="#" class="about-link"><i class="fas fa-question-circle me-1"></i>About</a>
      </span>
    <% end %>

    <%# Login or logout link %>
    <% if user_signed_in? %>
      <span class="pe-2"><%= link_to '<i class="fas fa-right-from-bracket me-1"></i>Logout'.html_safe, destroy_user_session_path, method: :delete %></span>
    <% else %>
      <span class="pe-2"><a href="#" class="login-link"><i class="fas fa-right-to-bracket me-1"></i>Log In</a></span>
    <% end %>
  </div>
</div>

<div id="hamburger-menu" class="d-none d-md-none mt-2">
  <div class="d-flex justify-content-end">
    <ul class="list-group">
      <% if user_signed_in? && current_user.admin? %>
        <li class="list-group-item p-3"><%= link_to '<i class="fas fa-gear me-1"></i>Manage'.html_safe, manage_root_path %></li>
      <% else %>
        <li class="list-group-item p-3">
          <%= image_tag 'logo_small.png', class: 'logo' %>
          <%= image_tag('logo_small_dark.png', class: 'logo logo-dark') %>
        </li>
      <% end %>

      <% if user_signed_in? %>
        <li class="list-group-item p-3"><%= link_to '<i class="fas fa-user me-1"></i>Account'.html_safe, user_path %></li>
      <% else %>
        <li class="list-group-item p-3"><a href="#" class="about-link"><i class="fas fa-question-circle me-1"></i>About</a></li>
      <% end %>

      <% if user_signed_in? %>
        <li class="list-group-item p-3"><%= link_to '<i class="fas fa-right-from-bracket me-1"></i>Logout'.html_safe, destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class="list-group-item p-3"><a href="#" class="login-link"><i class="fas fa-right-to-bracket me-1"></i>Log In</a></li>
      <% end %>
    </ul>
  </div>
</div>
