<% airport_path_placeholder = '_airport_code_' %>

<div id="ui">
  <div id="controls">
    <div class="columns">
      <div><%= render 'navigation' %></div>

      <div>
        <div id="flashes"></div>
      </div>

      <div class="right">
        <%= render 'header' %>
        <%= render 'action_buttons' %>
      </div>
    </div>
  </div>

  <%= render 'drawer' %>
</div>

<div
  id="map"
  data-airports-path="<%= airports_path %>"
  data-new-airport-path="<%= new_airport_path(format: :drawer) %>"
  data-show-airport-path="<%= airport_path(airport_path_placeholder, format: :drawer) %>"
  data-airport-path-placeholder="<%= airport_path_placeholder %>"
  data-center-latitude="<%= @center[:latitude] %>"
  data-center-longitude="<%= @center[:longitude] %>"
  data-zoom-level="<%= @zoom_level %>"
  data-marker-image-path="<%= image_path('marker') %>"
  data-marker-selected-image-path="<%= image_path('marker_selected') %>"
  data-mapbox-api-key="<%= Rails.application.credentials.mapbox_api_key %>"
  data-is-test="<%= Rails.env.test? %>"></div>
