<%
  @opengraph = {
    description: Rails.configuration.meta_description,
    image_url: image_url('icon_small.png'),
    page_url: root_url,
    title: 'Pirep.io - Collaborative airport database',
  }

  airport_path_placeholder = '_airport_code_'
%>

<div id="controls">
  <div id="grid">
    <div>
      <div class="map-header">
        <%= render 'header' %>
      </div>

      <div class="filters">
        <%= render 'map/filters/filters' %>
      </div>

      <div class="flashes mt-2">
        <div id="flashes" class="d-flex flex-column justify-content-center align-items-center">
          <%= render 'origin_info_modal' %>
        </div>
      </div>

      <div class="action-buttons">
        <%= render 'action_buttons' %>
      </div>
    </div>
  </div>

  <%= render 'map/drawer/drawer' %>
</div>

<div
  id="map"
  data-airport-path-placeholder="<%= airport_path_placeholder %>"
  data-airports-path="<%= airports_path %>"
  data-annotations-path="<%= annotations_airport_path('PLACEHOLDER') %>"
  data-center-latitude="<%= @center[:latitude] %>"
  data-center-longitude="<%= @center[:longitude] %>"
  data-is-test="<%= Rails.env.test? %>"
  data-mapbox-api-key="<%= Rails.application.credentials.mapbox_api_key %>"
  data-marker-hidden-image-path="<%= image_path('marker_hidden.png') %>"
  data-marker-selected-image-path="<%= image_path('marker_selected.png') %>"
  data-marker-visible-image-path="<%= image_path('marker_visible.png') %>"
  data-new-airport-path="<%= new_airport_path(format: :drawer) %>"
  data-show-airport-path="<%= airport_path(airport_path_placeholder, format: :drawer) %>"
  data-tiles-path-test="<%= image_path('empty_map_tile.png') %>"
  data-tiles-path="<%= faa_data_content_url(:charts, path: :tiles) %>"
  data-zoom-level="<%= @zoom_level %>"></div>
