<% airport_path_placeholder = '_airport_code_' %>

<div id="controls">
  <div id="grid">
    <div>
      <div class="map-header">
        <%= render 'header' %>
      </div>

      <div class="filters">
        <%= render 'map/filters/filters' %>
      </div>

      <div class="flashes">
        <div id="flashes" class="d-flex justify-content-center"></div>
      </div>

      <div class="action-buttons">
        <%= render 'action_buttons' %>
      </div>
    </div>
  </div>

  <%= render 'map/drawer/drawer' %>
</div>

<div
  id="map"
  data-asset-host="<%= Rails.configuration.asset_host %>"
  data-airports-path="<%= airports_path %>"
  data-annotations-path="<%= annotations_airport_path('PLACEHOLDER') %>"
  data-new-airport-path="<%= new_airport_path(format: :drawer) %>"
  data-show-airport-path="<%= airport_path(airport_path_placeholder, format: :drawer) %>"
  data-airport-path-placeholder="<%= airport_path_placeholder %>"
  data-center-latitude="<%= @center[:latitude] %>"
  data-center-longitude="<%= @center[:longitude] %>"
  data-zoom-level="<%= @zoom_level %>"
  data-marker-image-path="<%= image_path('marker') %>"
  data-marker-selected-image-path="<%= image_path('marker_selected') %>"
  data-mapbox-api-key="<%= Rails.application.credentials.mapbox_api_key %>"
  data-is-test="<%= Rails.env.test? %>"
  data-test-tile-path="<%= image_path('logo.png') %>"></div>
