<title>Pirep<%= " | #{@title}" if defined?(@title) %></title>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<link rel="icon" type="image/x-icon" href="<%= image_path('favicon.png') %>">

<% if defined?(@opengraph) %>
  <meta property="og:description" content="<%= @opengraph[:description] %>">
  <meta property="og:image" content="<%= @opengraph[:image_url] %>">
  <meta property="og:title" content="<%= @opengraph[:title] %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= @opengraph[:page_url] %>">
<% end %>

<%= stylesheet_link_tag 'application', media: 'all' %>
<%= render 'layouts/sentry' %>
<%= render 'layouts/timezone' %>
<%= javascript_importmap_tags %>

<%# Used to determine what Bootstrap breakpoint is active, see `breakpoints.scss` %>
<meta class="breakpoint">
