<title>Pirep<%= " | #{@title}" if defined?(@title) %></title>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all' %>
<%= render 'layouts/sentry' %>
<%= javascript_importmap_tags %>

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
