<title><%= "#{@title} | " if defined?(@title) %>Pirep</title>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<link rel="icon" type="image/x-icon" href="<%= image_path('favicon.png') %>">

<meta name="title" content="<%= defined?(@meta_title) ? @meta_title : Rails.configuration.meta_title %>">
<meta name="description" content="<%= (defined?(@meta_description) ? @meta_description : Rails.configuration.meta_description).gsub("\n", ' ') %>">
<meta name="robots" content="index, follow">
<meta name="language" content="English">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<% if defined?(@opengraph) %>
  <meta property="og:description" content="<%= @opengraph[:description] %>">
  <meta property="og:image" content="<%= @opengraph[:image_url] %>">
  <meta property="og:title" content="<%= @opengraph[:title] %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= @opengraph[:page_url] %>">
<% end %>

<%= stylesheet_link_tag 'application', media: 'all' %>
<%= render 'layouts/sentry' %>
<%= render 'layouts/timezone' %>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
<%= javascript_importmap_tags %>

<%# Used to determine what Bootstrap breakpoint is active, see `breakpoints.scss` %>
<meta class="breakpoint">
