<!DOCTYPE html>

<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <div class="container-lg">
      <div class="row">
        <div class="col">
          <%= render 'layouts/header' %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= render 'layouts/breadcrumbs' %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= render 'layouts/flashes' %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
