<%
  @title = "#{@airport.code} Analytics"
  @breadcrumbs = [['Airports', manage_airports_path], [@airport.code, manage_airport_path(@airport)], ['Analytics']]
%>

<div class="row">
  <div class="col-12">
    <h1 class="display-6"><%= @airport.code %></h1>
    <h6><%= @airport.name.titleize %>
  </div>
</div>

<div class="row g-3 mt-1 mb-4">
  <%= render 'manage/dashboard/meter', label: 'Total Pageviews', value: @airport.pageviews.count %>
  <%= render 'manage/dashboard/meter', label: 'Total Unique Pageviews', value: @airport.pageviews.distinct.pluck(:user_id).count %>
  <%= render 'manage/dashboard/meter', label: 'Pageviews Last 30 Days', value: @airport.pageviews.where('created_at > ?', 1.month.ago).count %>
  <%= render 'manage/dashboard/meter', label: 'Unique Pageviews Last 30 Days', value: @airport.pageviews.where('created_at > ?', 1.month.ago).distinct.pluck(:user_id).count %>
</div>

<% if @pageviews.any? %>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">User</th>
            <th scope="col">Browser</th>
            <th scope="col">Operating System</th>
            <th scope="col">IP Address</th>
            <th scope="col">Location</th>
            <th scope="col">Timestamp</th>
          </tr>
        </thead>

        <tbody>
          <% @pageviews.order(created_at: :desc).each do |pageview| %>
            <tr>
              <td class="border-bottom-0"><%= pageview.short_id %></td>
              <td class="border-bottom-0"><%= pageview.user ? link_to(user_label(pageview.user), manage_user_path(pageview.user)) : 'Unknown' %></td>
              <td class="border-bottom-0"><%= pageview.browser %> <%= pageview.browser_version %></td>
              <td class="border-bottom-0"><%= pageview.operating_system %></td>
              <td class="border-bottom-0"><%= pageview.ip_address %></td>
              <td class="border-bottom-0"><%= google_maps_location_link(pageview.ip_address) %></td>
              <td class="border-bottom-0"><%= format_timestamp(pageview.created_at) %></td>
            </tr>

            <tr>
              <td class="pt-0" colspan="7"><small class="text-muted"><%= pageview.user_agent %></small></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= render 'shared/pagination', records: @pageviews, path: :analytics_manage_airport_path %>
<% else %>
  <div class="my-3">
    <%= render 'shared/empty_view', label: 'No pageviews exist.', icon: 'fa-solid fa-eye-slash' %>
  </div>
<% end %>
